#about-us-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
}

.title {
    background: rgba(0, 0, 0, 0.6) url('../img/andrew-ruiz.jpg') center top no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    width: 90%;
    height: 450px;
    display: grid;
    place-items: center;
    margin: 50px 0;
}

.about-us {
    width: 550px;
    margin: 0px auto 60px auto;
    padding: 40px 20px;
    margin-bottom: 40px;
    color: var(--sec-color);
    font-size: 1.1rem;
}
.about-us h2 {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-bottom: 20px;
}

#about-us-involment {
    background: var(--sec-color);
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px 0;
    padding-bottom: 90px;
}

.get-involved {
    display: flex;
    flex-direction: column;
    margin: 0 2.5rem;
    background: var(--main-color);
    color: var(--sec-color);
}

.get-involved img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 1px solid var(--main-color);
}

.get-involved-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 30px;
}

.get-involved-text h2 {
    color: var(--text-color);
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
    margin-bottom: 10px;
}

#contact input, 
#contact select, 
#contact textarea {
    border: 1.5px solid rgba(0, 0, 0, 0.25);
}

#contact .cta {
    border: none;
    background: #085fd2;
    font-weight: 550;
}

#contact .cta:hover {
    background: #0c72f6;
}