#exhibition-title {
    background: rgba(0, 0, 0, 0.6) url("../img/exhibition.jpg") center center no-repeat;
    background-blend-mode: darken;
    background-size: cover;
    height: 300px;
    display: grid;
    place-items: center;
}

.exhibition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 2.5rem;
}

.exhibition-textbox {
    background: var(--sec-color);
    margin: 30px 0;
    width: 90%;
    height: auto;
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exhibition-textbox2 {
    background-color: var(--fourth-color);
}

.exhibition-textbox img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.exhibition-text {
    width: 100%;
    height: auto;
    padding: 30px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.exhibition-text h2 {
    font-size: 2.1rem;
    margin-bottom: 20px;
    letter-spacing: 7px;
}

.exhibition-text p {
    font-size: 1.2rem;
}