#home {
    background: rgba(0, 0, 0, 0.6) url('../img/science-museum.jpg') center center no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    color: var(--main-color);
    display: flex;
    align-items: center;
    height: 90vh;
}

.home-content {
    margin: auto;
}

.home-content h1 {
    font-size: 2.3rem;
    margin-bottom: 5px;
    margin-left: 10px;
}

.home-content h2 {
    font-size: 1.5rem;
}

.home-content .cta-links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.home-content .cta-links .cta-explore {
    margin-left: 10px;
}