@media (min-width: 800px) {
    /* Links */


    /* Home page */
    #home {
        flex-direction: row;
    }
    
    .home-content {
        margin: 0;
        margin-left: 3.8rem;
        padding-left: 30px;
    }

    .home-content h1 {
        font-size: 3.5rem;
        margin: 0;
    }

    .home-content h2 {
        font-size: 2.5rem;
    }

    .home-content .cta-links {
        flex-direction: row;
        gap: 0;
    }

    .home-content .cta {
        font-size: 1.15rem;
    }

    /* Explore page */


    /* Exhibition page */
        .exhibition {
        margin: 30px 6.5rem;
    }

    .exhibition-textbox {
        flex-direction: row;
        height: 450px;
        margin: 50px 0;
    }

    .exhibition-textbox img {
        width: 30%;
        height: 100%;
    }

    .exhibition-text {
        width: 70%;
    }

    /* Visit page */
    .location-categories {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        margin: 0 6.5rem;
    }

    #cafe-shop {
        gap: 40px;
        margin: 70px 6.5rem;
    }

    .cafe,
    .shop {
        flex-direction: row;
        height: 250px;
        gap: 0;
    }

    .cafe img,
    .shop img {
        width: 40%;
        height: 100%;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

    .shop img {
        border-radius: 8px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    .cafe-text,
    .shop-text {
        width: 60%;
        height: 100%;
        padding: 10px 30px;
    }

    #admission-accessibility {
        flex-direction: row;
        gap: 40px;
        align-items: stretch;
        padding: 20px 40px;
        margin: 80px 3.5rem
    }

    /* About page */
    #about-us-involment {
        gap: 60px;
    }

    .get-involved {
        flex-direction: row;
        height: 200px;
        margin: 0 6.5rem;
    }

    .get-involved img {
        width: 40%;
        height: 100%;
    }

    .get-involved-text {
        width: 60%;
        height: 100%;
        padding: 0 50px;
    }

    /* Events page */
    .events-categories {
        margin: 70px 6.5rem;
        gap: 40px;
    }

    .events {
        flex-direction: row;
        height: 250px;
    }

    .events img {
        width: 40%;
        height: 100%;
    }

    .events-text {
        width: 60%;
        height: 100%;
        justify-content: center;
        gap: 20px;
        padding: 0;
        margin: 2.5rem;
        transform: translateY(-40px);
    }

    .events-text p {
        font-size: 1.15rem;
    }
}