@import url('import/variables.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sanchez:ital@0;1&display=swap');

@font-face {
    font-family: 'Shanchez';
    src: url('../font/Sanchez-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--sec-font), 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--sec-color);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* Links, WE can either have them here or in link.css file */

header {
    padding: 10px 0;
    background-color: var(--main-color);
}

.header-links,
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 70px;
}

.company {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 30px;
}

.company .logo {
    max-width: 75px;
}

.company .company-name {
    font-size: 1.6rem;
}

.company-name {
    font-family: var(--main-font), 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-links ul li {
    display: inline-flex;
}

a {
    color: var(--sec-color);
}

.header-links .link {
    margin-right: 50px;
}

.link {
    font-size: 1.15rem;
    font-weight: 500;
}

footer {
    justify-content: center;
    flex-direction: column;
}

footer .logo,
footer p,
footer .footer-links {
    margin-bottom: 10px;
}

footer .footer-links {
    display: flex;
    gap: 15px;
}

footer .link {
    font-size: 14px
}

.cta {
    color: var(--main-color);
    background: var(--btn-color);
    padding: 8px 20px;
    border-radius: 20px;

    & .bx {
        margin-right: 5px;
        transform: translateY(1.5px);
    }
}

.cta-blue {
    background: var(--text-color);
}

.heading {
    font-size: 3.1rem;
    letter-spacing: 15px;
    color: var(--main-color);
}

.number,
.time,
.day {
    font-weight: 500;
}

/* Scroll behavior */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--text-color);
}

::-webkit-scrollbar-track {
    background: var(--sec-color);
}

/* Home page */
.home {
    background: rgba(0, 0, 0, .6) url('../img/science-museum.jpg') center center no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    color: var(--main-color);
    display: flex;
    align-items: center;
    height: 90vh;
    position: relative;
    overflow: hidden;
}

#home {
    margin-left: 3.8rem;
    padding-left: 30px;
}

#home h1 {
    font-size: 3.5rem;
}

#home h2 {
    font-size: 2.5rem;
}

#home .cta-links {
    margin-top: 20px;
}

#home .cta {
    font-size: 1.15rem;
}

#home .cta-links .cta-explore {
    margin-left: 10px;
}

.science-line {
    max-width: 40vw;
    z-index: 0;
}

.line-1 {
    position: absolute;
    bottom: -195px;
    left: -45px;
    rotate: calc(13deg);
}

.line-2 {
    position: absolute;
    bottom: -170px;
    right: 30%;
    rotate: calc(-7deg);
}

.line-3 {
    position: absolute;
    bottom: -185px;
    right: -115px;
    rotate: calc(5deg);
}



/* Explore page */
.explore-page {
    background: rgba(0, 0, 0, .6) url('../img/explore-background.jpg') center no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    color: var(--main-color);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    position: relative;
}

.explore-header {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.explore-image1 {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 20px 0;
}

.explore-image2 {
    width: 400px;
    height: 200px;
    object-fit: cover;
    margin: 20px 0;
}

.explore-textbox {
    background-color: #fff;
    margin: 20px auto;
    padding: 0 0 0 10px;
    max-width: 700px;
    flex: 1;
    min-width: 400px;
    color: #1B263B;
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.explore-textbox h2,
.explore-textbox p {
    padding-right: 20px;
}

.explore-textbox2 {
    background-color: #fff;
    margin: 20px auto;
    padding: 0 0 0 10px;
    width: 100%;
    color: #1B263B;
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.explore-textbox2 h2,
.explore-textbox2 p {
    padding-right: 20px;
}

.explore-textbox a,
.explore-textbox2 a {
    color: #1B263B;
}

.explore-textbox h2,
.explore-textbox2 h2 {
    color: #0265E3;
}



/* Exhibition page */
#exhibition-title {
    background: rgba(0, 0, 0, 0.6) url("../img/exhibition.jpg") center center no-repeat;
    background-blend-mode: darken;
    background-size: cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exhibition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 6.5rem;
}

.exhibition-textbox {
    background-color: #1B263B;
    margin: 50px 0;
    max-width: 100%;
    height: 450px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exhibition-textbox2 {
    background-color: #6FABDD;
}

.exhibition-textbox img {
    width: 30%;
    height: 100%;
    object-fit: cover;
}

.exhibition-text {
    width: 70%;
    height: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.exhibition-text h2 {
    font-size: 2.1rem;
    margin-bottom: 20px;
}

.exhibition-text p {
    font-size: 1.2rem;
}



/* Visit page */
#visit-title {
    background: rgba(0, 0, 0, .6) url(../img/museum-visit.jpg) center center no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    height: 450px;
}

.place-categories {
    background: var(--text-color);
    color: var(--main-color);
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.places {
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
}

.place-1::after {
    content: '';
    position: absolute;
    top: 8px;
    left: 75px;
    width: 5px;
    height: 5px;
    background: var(--main-color);
    border-radius: 50%;
}

.place-2::after {
    content: '';
    position: absolute;
    top: 8px;
    left: 137px;
    width: 5px;
    height: 5px;
    background: var(--main-color);
    border-radius: 50%;
}

.place-3::after {
    content: '';
    position: absolute;
    top: 8px;
    right: 208px;
    width: 5px;
    height: 5px;
    background: var(--main-color);
    border-radius: 50%;
}

.place-4::after {
    content: '';
    position: absolute;
    top: 8px;
    right: 102px;
    width: 5px;
    height: 5px;
    background: var(--main-color);
    border-radius: 50%;
}

#location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: var(--third-color);
    padding-bottom: 50px;
}

#location h2 {
    font-size: 1.7rem;
    font-weight: 500;
    margin: 1.3rem 0;
    letter-spacing: 3.5px;
}

.location-categories {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

iframe {
    max-width: 50vw;
    height: 350px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .3);
}

.address-hrs-contact>.category {
    margin: 15px 0;
}

.category h4 {
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.day-time {
    display: flex;
    justify-content: space-evenly;
}

.day-time p,
.contact-info p {
    margin: 6px 0;
}

.phone {
    display: flex;
    justify-content: center;
    gap: 3px;
    transform: translateY(-3px);
}

#cafe-shop {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 70px 6.5rem;
}

.cafe img,
.shop img {
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.shop img {
    border-radius: 8px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.cafe,
.shop {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--sec-color);
    color: var(--main-color);
    height: 250px;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .6);
    transition: 0.3s ease-in-out;
}

.cafe:hover,
.shop:hover {
    scale: 1.02;
}

.cafe-description,
.shop-description {
    width: 60%;
    height: 100%;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cafe-description h4,
.shop-description h4 {
    font-size: 1.5rem;
    margin-bottom: 30px;
    text-align: center;
}

.cafe-description p,
.shop-description p {
    font-weight: 350;
}

#admission-accessibility {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 40px;
    background: var(--third-color);
    padding: 20px 40px;
    margin: 80px 3.5rem;
    overflow: hidden;
    object-fit: cover;
}

.admission,
.accessibility {
    flex: 1;
    padding: 20px;
    margin: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.admission h2,
.accessibility h2 {
    margin-bottom: 10px;
}

/* About page */


/* Events page */



@media (min-width: 800px) {
    /* Links */


    /* Home page */


    /* Explore page */


    /* Exhibition page */


    /* Visit page */


    /* About page */


    /* Events page */
}