@import url('import/variables.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sanchez:ital@0;1&display=swap');

@font-face {
    font-family: 'Shanchez';
    src: url('../font/Sanchez-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--sec-font), 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--sec-color);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* Links, WE can either have them here or in link.css file */

header {
    padding: 10px 0;
    background-color: var(--main-color);
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
}

.navbar,
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    max-width: 70px;
}

.company {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

.company .logo {
    max-width: 75px;
}

.company .company-name {
    font-size: 1.6rem;
}

.company-name {
    font-family: var(--main-font), 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar ul li {
    display: block;
    padding: 20px 0;
}

a {
    color: var(--sec-color);
}

.navbar .link {
    margin-right: 50px;
    transition: all 0.3s ease-out;
}

.navbar .link:hover{
    color: var(--text-color);
}

.link {
    font-size: 1.5rem;
    font-weight: 500;
}

.active {
    color: var(--text-color);
}

#menu-check, 
.header-links {
    display: none;
}

#menu-check:checked~.header-links {
    display: block;
}

.header-links {
    position: absolute;
    top: 64px;
    text-align: center;
    width: 100%;
    background: var(--main-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.menu {
    margin-right: 10px;
}

.bx-menu {
    font-size: 2.2rem;
}

footer {
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
}

footer .logo,
footer p,
footer .footer-links {
    margin-bottom: 10px;
}

footer .footer-links {
    display: flex;
    gap: 15px;
}

footer .link {
    font-size: 14px
}

.cta {
    font-size: 1.05rem;
    font-weight: 500;
    color: var(--main-color);
    background: var(--btn-color);
    padding: 8px 20px;
    border: none;
    border-radius: 20px;
}

.cta:hover {
    background: #07a407;
}

.bx {
    margin-right: 5px;
    transform: translateY(1.5px);
}

.cta-explore {
    background: #085fd2;
}

.cta-explore:hover {
    background: #0c72f6;
}

.heading {
    font-size: 2.3rem;
    letter-spacing: 15px;
    color: var(--main-color);
}

.number,
.time,
.day {
    font-weight: 500;
}

#form-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

#form-wrapper h2 {
    font-size: 1.85rem;
    text-align: center;
    letter-spacing: 5px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.input-container,
.input-item {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.input-item {
    gap: 0;
}

.form-container label {
    margin-bottom: 9px;
}

.input-container input,
.input-container select,
.input-container textarea {
    width: 350px;
    padding: 8px;
    font-size: 1rem;
    border: 2px solid rgba(255, 255, 255, 0.437);
    border-radius: 8px;
}

.date-time {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.date,
.time {
    display: flex;
    flex-direction: column;
}

.date-time input {
    width: 100px;
}

.form-container .cta {
    padding: 8px 30px;
    margin-top: 10px;
}

/* Scroll behavior */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--text-color);
}

::-webkit-scrollbar-track {
    background: var(--sec-color);
}


/* Explore page */
.explore-page {
    background: rgba(0, 0, 0, 0.6) url('../img/explore-background.jpg') center no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    color: var(--main-color);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 4.5rem 60px;
    position: relative;
    justify-content: center;
}

.explore-header {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.explore-image1 {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px;
    flex-shrink: 0;
}

.explore-image2 {
    width: 200px;
    height: auto;
    min-height: 200px;
    object-fit: cover;
    margin: 10px;
    flex-shrink: 0;
}

.explore-textbox {
    background-color: #fff;
    margin: 5px;
    padding: 15px;
    max-width: 480px;
    flex: 1 1 420px;
    min-width: 380px;
    color: #1B263B;
    display: flex;
    gap: 15px;
    overflow: hidden;
    align-items: flex-start;
}

.explore-textbox h2 {
    margin-bottom: 5px;
    font-size: 1.6rem;
}

.explore-textbox p {
    font-size: 0.85rem;
    line-height: 1.4;
}

.explore-textbox h2,
.explore-textbox p {
    padding-right: 10px;
}

.explore-textbox>div {
    max-width: 280px;
}

.explore-textbox2 {
    background-color: #fff;
    margin: 5px;
    padding: 15px;
    width: 100%;
    max-width: 980px;
    color: #1B263B;
    display: flex;
    gap: 15px;
    overflow: hidden;
    align-items: flex-start;
}

.explore-textbox2 h2 {
    margin-bottom: 5px;
    font-size: 1.6rem;
}

.explore-textbox2 p {
    font-size: 0.85rem;
    line-height: 1.4;
}

.explore-textbox2 h2,
.explore-textbox2 p {
    padding-right: 10px;
}

.kids-content {
    display: flex;
    flex-direction: column;
}

.kids-right-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.kids-right-column p {
    font-size: 0.85rem;
    line-height: 1.4;
}

.explore-textbox a,
.explore-textbox2 a {
    color: #1B263B;
}

.explore-textbox h2,
.explore-textbox2 h2 {
    color: #0265E3;
}

@media (min-width: 800px) {

    /* Explore page */


}