@import url('import/variables.css');

@font-face {
    font-family: 'Shanchez';
    src: url('../font/Sanchez-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--sec-font), 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--sec-color);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* Links, WE can either have them here or in link.css file */ 

header {
    padding: 10px 0;
    background-color: var(--main-color);
}

.header-links, 
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 70px;
}

.company {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 30px;
}

.company .logo {
    max-width: 75px;
}

.company .company-name {
    font-size: 1.6rem;
}

.company-name {
    font-family: var(--main-font), 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-links ul li {
    display: inline-flex;
}

a {
    color: var(--sec-color);
}

.header-links .link {
    margin-right: 50px;
}

.link {
    font-size: 1.15rem;
    font-weight: 500;
}

footer {
    justify-content: center;
    flex-direction: column;
}

footer .logo, 
footer p, 
footer .footer-links {
    margin-bottom: 10px;
}

footer .footer-links {
    display: flex;
    gap: 15px;
}

footer .link {
    font-size: 14px
}

.cta {
    color: var(--main-color);
    background: var(--btn-color);
    padding: 8px 20px;
    border-radius: 20px;

    & .bx {
        margin-right: 5px;
        transform: translateY(1.5px);
    }
}
.cta-blue {
    background: var(--text-color);
}


/* Home page */
.home {
    background: rgba(0, 0, 0, .6) url('../img/science-museum.jpg') center center no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    color: var(--main-color);
    display: flex;
    align-items: center;
    height: 90vh;
    position: relative;
    overflow: hidden;
}

#home {
    margin-left: 3.8rem;
    padding-left: 30px;
}

#home h1 {
    font-size: 3.5rem;
}
#home h2 {
    font-size: 2.5rem;
}

#home .cta-links {
    margin-top: 20px;
}

#home .cta {
    font-size: 1.15rem;
}

#home .cta-links .cta-explore {
    margin-left: 10px;
}

.science-line {
    max-width: 40vw;
    z-index: 0;
}
.line-1 {
    position: absolute;
    bottom: -195px;
    left: -45px;
    rotate: calc(13deg);
}
.line-2 {
    position: absolute;
    bottom: -170px;
    right: 30%;
    rotate:calc(-7deg);
}
.line-3 {
    position: absolute;
    bottom: -185px;
    right: -115px;
    rotate: calc(5deg);
}


/* Explore page */


/* Exhibition page */


/* Visit page */



/* About page */


/* Events page */


@media (min-width: 800px) {

}